@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /* height: 100%; */
}

body {
    /* background-image: linear-gradient(to top, #F2D7B6, #A68C6D); (Caso queira Degrade)*/
    background-color: #F2D7B6;                          /* (Caso não queira.) */
}

main {
    background-color: white;                            /* <--- Fundo do Conteúdo */
    border-radius: 10px;                                  /* <--- Bordar Arredondadas */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.493);      /* <--- Sombras */
    width: 600px;                                         /* <--- Largura */ 
    padding: 10px;                                        /* <--- Aumento no fundo */
    margin: auto;                                         /* <--- Centralizar o Contéudo */
}

h1 {
    color: #A68C6D;                                     /* Cor da Letra do H1 */
    text-align: center;
    /* text-shadow: 2px 3px 1px black; */                 /* Caso queira colocar sombra no texto */
}

h2 {
    color: #aa977f;                                     /* Cor da Letra do H2 */
}

p {
    text-align: justify;                                  /* Melhorada na organização dos Parágrafos */
}